<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <title>BigBlueParkingGenie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'parkingapp/style.css' %}"/>
</head>
<body>
    {% if account.logged_in %}
    <div>
        <h1>Big Blue Parking Genie</h1>
        <div>
            <span>
                <a><button>Portal</button></a>
                <a href="{% url 'parkingapp:account' account.id%}"><button>Account</button></a>
                <a><button>Find Parking</button></a>
                <a><button>Rent A Lot</button></a>
            </span>
            <h2>Your Reservations</h2>
        </div>

        <div>
            <span>
                <a><button>Lot Assistant Home</button></a>
                <a><button>Supervisor Home</button></a>
            </span>
        </div>

    </div>

    {% else %}
        <div class="black stuff-box shadowed">
            <h1>Please login to access this page.</h1>
            <a href="sign-in"><button>Sign-In</button></a>
        </div>
    {% endif %}
</body>
</html>