<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <title>BigBlueParkingGenie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'parkingapp/style.css' %}"/>
</head>
<body>
    {% if account.logged_in %}
    <div>
        <h1>Big Blue Parking Genie</h1>
        <div>
            <span><button type="button">Portal</button><button type="button">Account</button></span>
        </div>

    </div>

    {% else %}
    <div class="black stuff-box shadowed">
        <h1>Please login to access this page.</h1>
        <a href="sign-in">Click here to sign in.</a>
    </div>
    {% endif %}
</body>
</html>