<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Sign-In</title>
    <link rel="stylesheet" type="text/css" href="{% static 'parkingapp/style.css' %}"/>
</head>
<body>
    <h1>Welcome to the Big Blue Parking Genie!</h1>
    {%comment%}
    Not sure what to do here with your login procedures Nate.
    {%endcomment%}

    <form action="{% url 'parkingapp:index'%}" method="post">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="Username">

        <label for="password">Password</label>
        <input type="text" name="password" id="password" value="Password">

        <input type="submit" value="Submit">
    </form>

    <h2>Don't have an account?</h2>
    <button type="button">Create an account</button>

</body>
</html>