<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Funds</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body class="bg-primary">
    <div id="transfer-funds">
        <nav class="navbar fixed-top navbar-dark bg-primary" role="navigation">
            <h1 class="navbar-brand">BigBlueParkingGenie</h1>
            <div>
                <span> <!-- Directory -->
                    <a href="{% url 'parkingapp:index' %}"><button type="button" class="btn btn-light">Home</button></a>
                    <a href="{% url 'parkingapp:account-info' %}"><button type="button" class="btn btn-light active">Account</button></a>
                    <a href="{% url 'parkingapp:reserve-spot' %}"><button type="button" class="btn btn-light">Find Parking</button></a>
                    <a href="{% url 'parkingapp:manage-lot' %}"><button type="button" class="btn btn-light">List Your Lot</button></a>
                    <a href="{% url 'parkingapp:sign-out'%}"><button type="button" class="btn btn-danger">Log Out</button></a>
                </span>
            </div>
        </nav><br>

        <h1 class="text-center text-light p-5">Transfer Funds</h1>

        <div class="container m-auto">
            <div class="rounded bg-light row justify-content-center  p-3">
                <form class="form" action="" method="POST">
                    {% csrf_token %}

                    <label for="amount" class="text-primary">Amount to Transfer:</label>
                    <input type="number" step="0.01" name="amount" placeholder="0.00" class="form-control"><br>

                    <div class="row justify-content-center">
                        <input type="submit" value="Submit" class="center btn btn-primary"><br>
                    </div>
                </form>
            </div>
        </div>

        <nav class="navbar fixed-bottom navbar-dark bg-primary" role="navigation">
            <div> <!-- Functionality for Lot Owners, Attendants, Supervisors -->
                <span>
                    {% if user.parkinglot_set.all|length > 0 %}
                    <a href="{% url 'parkingapp:lot-attendant-home' %}"><button type="button" class="btn btn-light">Lot Attendant Home</button></a>
                    {% endif %}
                    {% if user.profile.isSupervisor %}
                    <a href="{% url 'parkingapp:supervisor-home' %}"><button type="button" class="btn btn-light">Supervisor Home</button></a>
                    {% endif %}
                </span>
            </div>
        </nav>
    </div>
</body>
</html>